@font-face {
    font-family: 'Lexend Deca';
    src: url(./assets/LexendDecaVariableFontwght.ttf) format("truetype");
    font-weight: 1 999;
}

@font-face {
    font-family: 'Raleway';
    src: url(./assets/RalewayVariableFontwght.ttf) format("truetype");
    font-weight: 1 999;
}

@font-face {
    font-family: 'Urbanist';
    src: url(./assets/UrbanistVariableFontwght.ttf) format("truetype");
    font-weight: 1 999;
}

body {
    background-color: #f8eeec;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    position: relative;
}

.navbar {
    letter-spacing: 1px;
}

.hideTop {
    visibility: hidden;
}

h1 {
    font-size: 6rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

h2 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    letter-spacing: 2.5px;
    font-size: 3.2rem;
}

#about {
    background-color: #fcd5ce;
}

#headshot {
    width: 250px;
    background-color: white;
    border-radius: 50%;
}

#aboutText {
    max-width: 700px;
    font-size: 1.13rem;
}

#projects {
    background-color: white;
}

.projectImg {
    width: 210px;
    border-radius: 50%;
}